@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-heading: 'IBM Plex Sans Arabic', system-ui, sans-serif;
    --font-body: 'IBM Plex Sans Arabic', system-ui, sans-serif;
  }

  * {
    @apply border-gray-200;
  }

  body {
    @apply bg-secondary text-white;
  }
}

@layer utilities {
  .rtl {
    direction: rtl;
  }
  
  .ltr {
    direction: ltr;
  }
}